{{ $paginator := .Paginate (where .Data.Pages "Type" "package") }}

{{ range $paginator.Pages }}
<section id="main" class="post type-post status-publish format-standard has-post-thumbnail hentry">
  <article>
    {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}


    <figure class="post-featured-image">
      <a href="{{ .RelPermalink }}" itemprop="url">

  <div class="picture">
      <picture>
          <source
            media="(min-width: 535px)"
            srcset={{ .Params.banner | absURL }}.jpeg
            type="image/jpeg" >
          <!-- Small screens -->
          <source
            media="(max-width: 534px)"
            srcset={{ .Params.banner | absURL }}-sm.jpeg
            type="image/jpeg" >
        <img
          src={{ .Params.banner | absURL }}.jpeg
          type="image/jpeg"
          alt="image description">
      </picture>
  </div>

      </a>
    </figure>
    {{ end }}

    {{ partial "article_header" . }}
    <div class="article-entry entry-content clearfix" itemprop="articleBody">
      <p>
        {{ printf "%s" .Summary | markdownify }}
        <br>
      </p>

    </div>
    {{ partial "article_footer" . }}
    <span>
      <a class="readmore" href="{{ .Permalink }}">
	{{ with .Site.Data.l10n.articles.read_more }}{{ . }}{{ end }}
      </a>
    </span>

    </div>


</article>
</section>
{{ end }}
{{ partial "pagination" . }}
