<div class="widget-wrap">
  <div class = "contact-form">
    <h2>Find out More Details</h2>
    <form id="my-awesome-form" action="https://api.formbucket.com/f/buk_4hyFb5XhvHPpp5qB5pCPIhEt" method="post" target="_blank">
      <input type="text" name="email" placeholder="email" />
      <input type="text" name="subject" placeholder="subject" />
      <input type="hidden" name="package" placeholder="package" value="{{.Params.Title}}"/>
      <textarea type="text" name="message" placeholder="message"></textarea>
      <button class="contact_form_submit button secondary" type="submit">Contact Sato</button>
    </form>
  </div>
</div><!-- .wrapper -->
