<div class="container clearfix">
  <div class="hgroup-wrap clearfix">
    <header id="header">
      <nav>
          <div class="container clearfix">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main.ByWeight }}
                <a href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
          </div><!-- .container -->
      </nav>
      <h1 style="font-size: 32px;"><span>SATO - South American Vacations</span></h1>
    </header>
  </div><!-- .hgroup-wrap -->
</div><!-- .container -->
