
    <div id="widgetForm" class="">
<form id="msform" action="https://api.formbucket.com/f/buk_4hyFb5XhvHPpp5qB5pCPIhEt" method="post" target="_blank">
          <h1>South America Planner</h1>
          <h2>Not finding the right South America package? Use our South America Planner to find your ideal trip. </h2>
            <!-- progressbar
            <ul id="progressbar">
                <li class="active">Destinations</li>
                <li>Type of Trip</li>
                <li>Your Details</li>
            </ul>-->
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Which destinations would you like to visit?</h2>
                <div class = "dest_cont">
                  <span class = "label">Machu Picchu</span>
                  <input name = "Machu Picchu" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label"> Amazon Rainforest</span>
                  <input name = "Amazon Rainforest" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label">Uyuni Salt Flats </span>
                  <input name = "Uyuni Salt Flats" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label">Atacama Desert </span>
                  <input name = "Atacama Desert" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label">Central Wine Region</span>
                  <input name = "Central Wine Region" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label">Patagonia</span>
                  <input name = "Patagonia" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label">Buenos Aires</span>
                  <input name = "Buenos Aires" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label">Iguazu Falls</span>
                  <input name = "Iguazu Falls" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>

                <div class = "dest_cont">
                  <span class = "label">Rio de Janeiro</span>
                  <input name = "Rio de Janeiro" type="checkbox" class = "checkbox">
                  <span class="checkmark"></span>
                </div>
                <!--<select name = "Destinations" multiple >
                  <option value = "Machu Picchu">Machu Picchu</option>
                  <option value = "Amazon Rainforest">Amazon Rainforest</option>
                  <option value = "Uyuni Salt Flats">Uyuni Salt Flats</option>
                  <option value = "Atacama Desert">Atacama Desert</option>
                  <option value = "Central Wine Region">Central Wine Region</option>
                  <option value = "Patagonia">Patagonia</option>
                  <option value = "Buenos Aires">Buenos Aires</option>
                  <option value = "Iguazu Falls">Iguazu Falls</option>
                  <option value = "Rio de Janeiro">Rio de Janeiro</option>
                </select>-->
                <div class = 'action_buttons'>
                  <input type="button" name="next" class="next action-button" value="Next"/>
                </div>

            </fieldset>
            <fieldset>
                <h2 class="fs-title">How many people will be traveling?</h2>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="people" id="people1" value="1 person" checked>
                <label class="form-check-label" for="people1">
                  1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="people" id="people2" value="2 people">
                <label class="form-check-label" for="people2">
                  2
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="people" id="people3" value="3 people">
                <label class="form-check-label" for="people3">
                  3
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="people" id="people4" value="4 people">
                <label class="form-check-label" for="people4">
                  4
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="people" id="people5more" value="more than 5 people">
                <label class="form-check-label" for="people5">
                  5 or more people
                </label>
              </div>
                <div class = 'action_buttons'>
                  <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                  <input type="button" name="next" class="next action-button" value="Next"/>
                </div>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">What level of accommodation to you have in mind?</h2>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="accommodation" id="budget" value="budget" checked>
                <label class="form-check-label" for="budget">
                  Budget 2/3*
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accommodation" id="standard3" value="standard3">
                <label class="form-check-label" for="standard3">
                  Standard 3*
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accommodation" id="superior4" value="superior4">
                <label class="form-check-label" for="superior4">
                  Superior 4*
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accommodation" id="deluxe5" value="deluxe5">
                <label class="form-check-label" for="deluxe5">
                  Deluxe 5*
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="accommodation" id="deluxeplus" value="deluxeplus">
                <label class="form-check-label" for="deluxeplus">
                  Deluxe +
                </label>
              </div>
                <div class = 'action_buttons'>
                  <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                  <input type="button" name="next" class="next action-button" value="Next"/>
                </div>
            </fieldset>

            <fieldset>
                <h2 class="fs-title">How long would you like to travel for?</h2>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="travel" id="2_3days" value="2_3days">
                <label class="form-check-label" for="2_3days">
                  2-3 Days
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="travel" id="4_5days" value="4_5days">
                <label class="form-check-label" for="4_5days">
                  4-5 Days
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="travel" id="1_week" value="1_week">
                <label class="form-check-label" for="1_week">
                  A Week
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="travel" id="10_days" value="10_days">
                <label class="form-check-label" for="10_days">
                  10 Days
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="travel" id="2_weeks" value="2_weeks">
                <label class="form-check-label" for="2_weeks">
                  Two weeks
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="travel" id="3_weeks" value="3_weeks">
                <label class="form-check-label" for="3_weeks">
                  Three weeks
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="travel" id="travel_undecided" value="travel_undecided">
                <label class="form-check-label" for="travel_undecided">
                  As long as it takes
                </label>
              </div>



                <div class = 'action_buttons'>
                  <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                  <input type="button" name="next" class="next action-button" value="Next"/>
                </div>
            </fieldset>

            <fieldset>
                <h2 class="fs-title">Where can we reach you?</h2>
                <input type="text" class = "input_new_line" name="name" placeholder="Name"/>
                <input type="text"  class = "input_new_line" name="email" placeholder="Email"/>
                  <div class="form-label">Tentative Date :<input class="form-control" name = "tentative-date" type="date" value="" id="tentative-date"></div>
                <div class = 'action_buttons'>
                  <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                  <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                </div>
            </fieldset>
        </form>
</div>
<!-- /.MultiStep Form -->
