<div id = 'search'>
  <div class="row justify-content-center">
    <div style="width:90%">
      <form action = "/search/"  class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <!--end of col-->
          <div class="col">
            {{ partial "search.html" . }}
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-lg btn-success" type="submit">Search</button>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
    <!--end of col-->
  </div>
</div>
