{{ if .Site.Params.widgets }}
{{ if (not .Params.disable_profile) | and (not .Params.disable_widgets) }}
<div id="primary" class="no-margin-left">
{{ end }}
{{ end }}

    <div id="content">
	<section id="post" class="post type-post status-publish format-standard has-post-thumbnail hentry">
	    <article>
		<div class="article-inner">
		    {{ partial "article_header" . }}
		    {{ partial "article_footer" . }}

		</div>
		<div class="entry-content" itemprop="articleBody">
      		{{ if (.Params.banner) }}

          <div class="picture">
              <picture>
                  <source
                    media="(min-width: 535px)"
                    srcset={{ .Params.banner | absURL }}.jpeg
                    type="image/jpeg" >
                  <!-- Small screens -->
                  <source
                    media="(max-width: 534px)"
                    srcset={{ .Params.banner | absURL }}-sm.jpeg
                    type="image/jpeg" >
                <img
                  src={{ .Params.banner | absURL }}.jpeg
                  type="image/jpeg"
                  alt="image description">
              </picture>
          </div>

          {{ end }}
        {{ .Content }}
        {{ if (.Params.highlights) }}
        <div class="picture">
            <picture>
                <source
                  media="(min-width: 535px)"
                  srcset={{ .Params.highlights | absURL }}.jpeg
                  type="image/jpeg" >
                <!-- Small screens -->
                <source
                  media="(max-width: 534px)"
                  srcset={{ .Params.highlights | absURL }}-sm.jpeg
                  type="image/jpeg" >
              <img
                src={{ .Params.highlights | absURL }}.jpeg
                type="image/jpeg"
                alt="image description">
            </picture>
        </div>

        {{end}}
        {{ if (.Params.contact_form) }}
          {{ partial "contact_form" . }}
        {{end}}
		    <!-- -    {{ partial "share" . }}  -->
		</div>
		{{ if (.Params.tags) }}
		<div class="tags">
		    {{ range $k, $tag := .Params.tags }}
		    <a href="/tags/{{ $tag | urlize }}" rel="tag">{{ $tag }}</a>&middot;
		    {{ end }}
		</div>
		{{ end }}
		{{ partial "prev_next_post" . }}
	    </article>

	    {{ if and (and (not (eq .Site.Params.privacy.DisqusShortname "")) (not .Params.disable_comments)) (not .Site.Params.privacy.enable) }}
	    <section id="comments">
		<div id="disqus_thread">
		    {{ template "_internal/disqus.html" . }}
		</div>
	    </section>
	    {{ end }}
	</section>

    </div><!-- #content -->
{{ if .Site.Params.widgets }}
{{ if (not .Params.disable_profile) | and (not .Params.disable_widgets) }}
</div><!-- #primary -->
{{ partial "widgets" . }}
{{ end }}
{{ end }}
